astroid==3.2.3
blinker==1.8.2
click==8.1.7
dill==0.3.8
Faker==26.0.0
flake8==7.1.0
Flask==3.0.3
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.12.0
pyflakes==3.2.0
pylint==3.2.5
pytest==8.2.2
python-dateutil==2.9.0.post0
 pytest-flask==1.2.0
 selenium==4.8.2
pytz==2024.1
six==1.16.0
tomlkit==0.13.0
tzdata==2024.1
Werkzeug==3.0.3
